<!DOCTYPE html>
<html>
<head>
    <title>UN-Habitat Projects</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        </head>
        <body>
            <div class="container mt-4">
                    <h1>UN-Habitat Project Manager</h1>
                            <hr>
                                    {% block content %}{% endblock %}
                                        </div>
                                        </body>
                                        </html>
                                        