{% extends 'projects/base.html' %}

{% block content %}
<h2>{{ form.instance.id|yesno:"Update Project,Create Project" }}</h2>
<form method="post">
    {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'project_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
                {% endblock %}
       
                
                <form method="post">
                        {% csrf_token %}
                            {{ form.as_p }}
                                <button type="submit">Create</button>
                                </form>
                                